@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The only contact you should be worrying about is<br />
    @*<abbr title="Phone">P:</abbr>*@
    the contact between the cursor and the "People" link up there
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">people@clickit.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">goto@people.com</a>
</address>